<h1>Bem-vindo ao Fórum Geografia</h1>

<p> Email de confirmação de cadastro. </p>

<p> Obrigada por cadastrar-se em nosso fórum. </p>
<br> <br>
 

<br><br><br><br><br><br>
<p>  Email automático, não responda.</p>
