<h1>Bem-vindo ao Fórum Geografia</h1>

<p> Email de confirmação de cadastro. </p>

<p> Obrigada por cadastrar-se em nosso fórum. </p>

 <p>Devido a isso, seu acesso será expandido em relação a anteriormente. </p>
  Atenciosamente.

<br><br><br><br><br><br>
<p>  Email automático, não responda. Do not answear this mail</p>
