<h1>Bem-vindo ao Fórum Geografia</h1>

<p>
  Email de confirmação de cadastro. 

  Obrigada por cadastrar-se em nosso fórum. 
  Devido a isso, seu acesso será expandido em relação a anteriormente. 

  Atenciosamente.


  Email automático, não responda. Do not answear this mail
</p>
