
<div class="container" id="main">
    <div class="row">
      <div class="col-md-4 col-sm-6">
          <div class="panel panel-default">
            
              <div class="panel-heading"> <h3>Usuario: <%= @usuario.nome %> </h3></div>
                <div class="panel-body">
                      <div class="list-group">
                        <a class="list-group-item"><h3>Nome de usuário: <%= @usuario.login %> </h3></a>
                        <a class="list-group-item"><h3>E-mail: <%= @usuario.email %> </h3></a>
                        </form>
                      </div>
                </div>
              </div>
      </div>
    </div>
  </div>





