
<%= form_tag({action: 'login'}, class: 'form-signin', method: 'post') do %> 
	
        <h2 class="form-signin-heading">Login</h2>
        
        <input type="text" name="login" class="form-control" placeholder="Nome de usuario" required autofocus>
        
        <input type="password" name="senha" class="form-control" placeholder="Senha" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login in</button>

      <h3><%= link_to "Ainda não sou cadastrado (a)", new_usuario_path %> <h3>
<% end %>
